html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;  
}
header{
    display: flex;
    justify-content: space-between;
}
.div1 > img{
    width: 60px;
}
main{
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
header{
    padding: 10px;
}
section{
    display: flex;
    justify-content: space-between;
}
.p1 , .p2{
    padding: 10px ;
    font-size: 1.3rem ;
}
.div2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
input{
    border: 0;
    border-bottom: 1px solid gray;
    padding: 5px;
    font-size: 1rem;
    margin: 5px;
}
 footer{
    height: 80px;
    text-align: center;
}
footer > button{
    margin: 10px;
    padding: 10px;
}
main{
    background-color: white;
}
body{
    background-color: black;
}
